# Application Server Port
PORT=8080

# Database Configuration
# Use 'localhost' when running the app locally on your host machine (go run ./cmd/main.go)
# Use 'db' when running inside Docker Compose
DB_HOST=localhost
DB_PORT=3306
DB_USER=user
DB_PASSWORD=password
DB_NAME=data

# Security Configuration
JWT_SECRET=super-secret-jwt-key
